# Place this file in /etc/systemd/system
# Then enable the service, run
# $ systemctl enable sensors

[Unit]
Description=IoT Sensors
Requires=iotkit-agent.service

[Service]
ExecStart=/usr/bin/node /home/root/edison-environment-client/sensors.js
Restart=always
RestartSec=10 # Restart service after 10 seconds if node service crashes
StandardOutput=syslog # Output to syslog
StandardError=syslog # Output to syslog
SyslogIdentifier=sensors

[Install]
WantedBy=multi-user.target
